@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#header {
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid black;
  font-family: "Lobster", cursive;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.logo-container {
  display: flex;
  align-items: center;
  margin: 0;
}
#header #header-img {
  font-weight: bold;
  width: 120px;
  padding: 20px;
}
#header img {
  display: inline;
}
#header .logo {
  font-weight: 600;
  font-size: 5rem;
  display: inline-block;
  text-decoration: none;
  background: -webkit-linear-gradient(blue, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px;
}
#header .nav-link {
  color: black;
  margin: 20px;
  font-size: 2rem;
  text-decoration: none;
  flex-direction: column;
  display: none;
}
@media screen and (min-width: 767px) {
  #header #header-img {
    font-size: 5rem;
    margin: 20px;
  }
  #header .nav-link {
    display: inline;
    margin: 50px;
  }
  .fa-bars {
    display: none;
  }
}
/* Hero */
main {
  width: 100%;
  background-color: #212529;
  color: #fff;
  padding-top: 5rem;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.hero .left-col {
  width: 100%;
  padding: 0 2rem;
}

#title {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

span {
  color: gold;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2rem;
}

#description {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 2rem 0 1rem;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
}

#email {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 1px solid #707070;
  /* width: 100%; */
  /* border: none; */
}

#submit {
  padding: 0.5rem 3rem;
  background-color: #fb5607;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  /* width: 100%; */
}

#submit:hover {
  color: #000;
  background-color: #faa307;
  transform: scale(1.05);
}

.hero .right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .right-col .burger-img {
  width: 50%;
  display: block;
}

.hero .soc-icons {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 16px;
  position: absolute;
  top: 70%;
  right: 2rem;
}

.hero .soc-icons .icon {
  margin-top: 0.5rem;
}

/* Services Section */
.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.title-section {
  /* text-align: center; */
  font-size: 2rem;
  position: relative;
  z-index: 1;
}
.title-section::before {
  content: " ";
  position: absolute;
  background: white;
  width: 70%;
  height: 0.5rem;
  bottom: 10px;
  margin-left: -0.5em;
  z-index: -1;
  border-radius: 1em 2em;
}
.services-container {
  width: 100%;
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 2rem;
  width: 250px;
  margin-top: 1rem;
}

.service-icon {
  height: 64px;
}

#video {
  width: 300px;
  height: 157px;
}

/* Menu Section */
.menu-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}

.card {
  box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
  border-radius: 0.5rem;
}
.card .card-img {
  height: 200px;
}

.card .card-content {
  text-align: center;
  padding: 1.5rem;
}

.card .card-content .card-title,
.price {
  margin: 0;
}

.card .card-content .card-btn {
  margin-top: 1.5rem;
  padding: 0.3rem 2rem;
  width: 100%;
  background-color: #fb5607;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 0.3rem;
  transition: 0.5s;
  cursor: pointer;
  outline: none;
}

.card .card-content .card-btn:hover {
  color: #000;
  background-color: #faa307;
}

/* App Section */
.app-section {
  margin-top: 5rem;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  /* margin-right: 2rem; */
}

.app-content h1 {
  font-size: 1.6rem;
  color: #faa307;
  text-align: center;
}
#contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2rem;
  font-size: 2rem;
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  main {
    padding-top: 0;
  }

  .hero {
  }

  .hero .left-col {
    max-width: 600px;
    padding-top: 5rem;
    padding-left: 5rem;
  }

  #title {
    font-size: 3rem;
    line-height: 4rem;
  }

  #description {
    margin: 2rem 0 1rem;
    font-size: 1.1rem;
  }

  span {
    font-size: 3.5rem;
  }

  #form {
    flex-direction: row;
  }

  #email,
  #submit {
    margin-bottom: 2rem;
  }

  .hero .right-col .burger-img {
    width: 500px;
    margin-left: 9rem;
  }

  .hero .soc-icons {
    top: 50%;
  }

  .title-section {
    font-size: 3rem;
  }

  .title-section::before {
    height: 0.8rem;
    bottom: 15px;
  }

  #video {
    width: 560px;
    height: 315px;
  }
}
